<a href="https://colab.research.google.com/github/MROWAtk/PUM/blob/main/Lab2-preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/MROWAtk/PUM

Cloning into 'PUM'...
remote: Enumerating objects: 25, done.
remote: Counting objects: 100% (25/25), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 25 (delta 5), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (25/25), 3.49 MiB | 5.37 MiB/s, done.
Resolving deltas: 100% (5/5), done.

In [2]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer

In [3]:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "train.csv"

# Load the latest version
df = kagglehub.load_dataset(KaggleDatasetAdapter.PANDAS, "parisrohan/credit-score-classification", file_path,
)

print("First 5 records:", df.head())

print(df.shape)

<ipython-input-3-c299aa20f6ed>:9: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  df = kagglehub.load_dataset(KaggleDatasetAdapter.PANDAS, "parisrohan/credit-score-classification", file_path,

Downloading from https://www.kaggle.com/api/v1/datasets/download/parisrohan/credit-score-classification?dataset_version_number=1&file_name=train.csv...

100%|██████████| 6.09M/6.09M [00:00<00:00, 156MB/s]

Extracting zip of train.csv...

First 5 records:        ID Customer_ID     Month           Name   Age          SSN Occupation  \
0  0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265  Scientist
1  0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265  Scientist
2  0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265  Scientist
3  0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265  Scientist
4  0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265  Scientist

  Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  Credit_Mix  \
0      19114.12            1824.843333                  3  ...           _
1      19114.12                    NaN                  3  ...        Good
2      19114.12                    NaN                  3  ...        Good
3      19114.12                    NaN                  3  ...        Good
4      19114.12            1824.843333                  3  ...        Good

   Outstanding_Debt Credit_Utilization_Ratio     Credit_History_Age  \
0            809.98                26.822620  22 Years and 1 Months
1            809.98                31.944960                    NaN
2            809.98                28.609352  22 Years and 3 Months
3            809.98                31.377862  22 Years and 4 Months
4            809.98                24.797347  22 Years and 5 Months

   Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly  \
0                     No           49.574949       80.41529543900253
1                     No           49.574949      118.28022162236736
2                     No           49.574949         81.699521264648
3                     No           49.574949       199.4580743910713
4                     No           49.574949      41.420153086217326

                  Payment_Behaviour     Monthly_Balance Credit_Score
0   High_spent_Small_value_payments  312.49408867943663         Good
1    Low_spent_Large_value_payments  284.62916249607184         Good
2   Low_spent_Medium_value_payments   331.2098628537912         Good
3    Low_spent_Small_value_payments  223.45130972736786         Good
4  High_spent_Medium_value_payments  341.48923103222177         Good

[5 rows x 28 columns]
(100000, 28)

/usr/local/lib/python3.11/dist-packages/kagglehub/pandas_datasets.py:91: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  result = read_function(

In [4]:
# Drop duplicates
df = df.drop_duplicates()

print(df.shape)

(100000, 28)

In [5]:
# Drop unused columns
df = df.drop(columns=['ID', 'Customer_ID', 'SSN', 'Name'])

print(df.head())

      Month   Age Occupation Annual_Income  Monthly_Inhand_Salary  \
0   January    23  Scientist      19114.12            1824.843333
1  February    23  Scientist      19114.12                    NaN
2     March  -500  Scientist      19114.12                    NaN
3     April    23  Scientist      19114.12                    NaN
4       May    23  Scientist      19114.12            1824.843333

   Num_Bank_Accounts  Num_Credit_Card  Interest_Rate Num_of_Loan  \
0                  3                4              3           4
1                  3                4              3           4
2                  3                4              3           4
3                  3                4              3           4
4                  3                4              3           4

                                        Type_of_Loan  ...  Credit_Mix  \
0  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...           _
1  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        Good
2  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        Good
3  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        Good
4  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        Good

  Outstanding_Debt Credit_Utilization_Ratio     Credit_History_Age  \
0           809.98                26.822620  22 Years and 1 Months
1           809.98                31.944960                    NaN
2           809.98                28.609352  22 Years and 3 Months
3           809.98                31.377862  22 Years and 4 Months
4           809.98                24.797347  22 Years and 5 Months

  Payment_of_Min_Amount Total_EMI_per_month  Amount_invested_monthly  \
0                    No           49.574949        80.41529543900253
1                    No           49.574949       118.28022162236736
2                    No           49.574949          81.699521264648
3                    No           49.574949        199.4580743910713
4                    No           49.574949       41.420153086217326

                  Payment_Behaviour     Monthly_Balance  Credit_Score
0   High_spent_Small_value_payments  312.49408867943663          Good
1    Low_spent_Large_value_payments  284.62916249607184          Good
2   Low_spent_Medium_value_payments   331.2098628537912          Good
3    Low_spent_Small_value_payments  223.45130972736786          Good
4  High_spent_Medium_value_payments  341.48923103222177          Good

[5 rows x 24 columns]

In [6]:
FeaturesToConvert = ['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']

# usuń zbędne znaki '-’ , '_'
for feature in FeaturesToConvert:
  df[feature] = df[feature].str.strip('-_')

# puste kolumny zastąp NAN
for feature in FeaturesToConvert:
  df[feature] = df[feature].replace({'':np.nan})

print(df.head())

      Month  Age Occupation Annual_Income  Monthly_Inhand_Salary  \
0   January   23  Scientist      19114.12            1824.843333
1  February   23  Scientist      19114.12                    NaN
2     March  500  Scientist      19114.12                    NaN
3     April   23  Scientist      19114.12                    NaN
4       May   23  Scientist      19114.12            1824.843333

   Num_Bank_Accounts  Num_Credit_Card  Interest_Rate Num_of_Loan  \
0                  3                4              3           4
1                  3                4              3           4
2                  3                4              3           4
3                  3                4              3           4
4                  3                4              3           4

                                        Type_of_Loan  ...  Credit_Mix  \
0  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...           _
1  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        Good
2  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        Good
3  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        Good
4  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        Good

  Outstanding_Debt Credit_Utilization_Ratio     Credit_History_Age  \
0           809.98                26.822620  22 Years and 1 Months
1           809.98                31.944960                    NaN
2           809.98                28.609352  22 Years and 3 Months
3           809.98                31.377862  22 Years and 4 Months
4           809.98                24.797347  22 Years and 5 Months

  Payment_of_Min_Amount Total_EMI_per_month  Amount_invested_monthly  \
0                    No           49.574949        80.41529543900253
1                    No           49.574949       118.28022162236736
2                    No           49.574949          81.699521264648
3                    No           49.574949        199.4580743910713
4                    No           49.574949       41.420153086217326

                  Payment_Behaviour     Monthly_Balance  Credit_Score
0   High_spent_Small_value_payments  312.49408867943663          Good
1    Low_spent_Large_value_payments  284.62916249607184          Good
2   Low_spent_Medium_value_payments   331.2098628537912          Good
3    Low_spent_Small_value_payments  223.45130972736786          Good
4  High_spent_Medium_value_payments  341.48923103222177          Good

[5 rows x 24 columns]

In [7]:
# Mapa miesięcy
month_mapping = {
    "January": 1, "February": 2, "March": 3, "April": 4, "May": 5, "June": 6,
    "July": 7, "August": 8, "September": 9, "October": 10, "November": 11, "December": 12
}

# Zastosowanie mapowania do kolumny 'month'
df['Month'] = df['Month'].map(month_mapping)

print(df['Month'])

0        1
1        2
2        3
3        4
4        5
        ..
99995    4
99996    5
99997    6
99998    7
99999    8
Name: Month, Length: 100000, dtype: int64